.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #b78e8e;
    height: 100vh;
    
    h1{
        text-transform: uppercase;
    }
}